<!-- styles: [`
  .even {background-color: grey;}
  .odd  {background-color: lightblue;}
], -->

<table class="table table-bordered">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Position</th>
        <th>Salary</th>

    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; let e = even; let o = odd"
        [ngClass]="{ odd: o, even: e }">
            <td>{{employee.Id}}</td>
            <td>{{employee.Name}}</td>
            <td>{{employee.Age}}</td>
            <td>{{employee.Gender}}</td>
          
            <td>
              <div *ngIf="employee.Age < 40; else elseBlock1">
                Jr.Employee</div>
            </td>          
              <ng-template #elseBlock1>
                Sr.Employee 
              </ng-template>   
            <td>{{getSalary(employee)}}</td>
        </tr>
    </tbody>
</table>